div .dashContainer {
    width: 100%;
    height: 100%;
}

div .dash-console {
    background: whitesmoke;
    width: 80%;
    height: 7vh;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px 0 gray;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 5%;
}

div .post-container {
    width: 80%;
    height: 30vh;
    background: whitesmoke;
    margin-left: 10%;
    margin-top: 5%;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px 0 gray;
}