body {
    background: rgb(220, 220, 220);
}

button {
    background: transparent;
    border: 0 transparent;
}

div .navbar {
    border: 1px solid transparent;
    width: 10%;
    height: 100vh;
    background-image: linear-gradient(to top, #ff70a6, #ff9770);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 1px 1px 7px 1px rgb(146, 146, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
}

div .avatar {
    border: 1px solid gray;
    border-radius: 50px;
    box-shadow: 1px 1px 5px 1px rgb(146, 146, 146);
    background: white;
    margin-top: 15%;
    width: 70px;
    height: 70px;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-display {
    margin-top: 120%;
}

div .home-icon {
    margin-top: 85%;
}

div .add-icon {
    margin-top: 45%;
}

div > .power-icon {
    margin-top: 550%;
}

.icons {
    color: white;
}